*.ckpt
*.tar
*.csv
*.pth
*.pyc
*.DS_Store
*.log
packages/*
data/*
results/*
data/*
pretrained_models/*
scripts/*.sh
*err
*job
*log
*essai.py
*essai.ipynb
*genes_ncbi_human_proteincoding.py
*/.ipynb_checkpoints/*
grid_scripts_slurm/logs/*
settings.json
pipeline/*
batchbench-master/*
digitalhistopathology/access_token.py
experiments/
Figures/
grid_scripts/
config_local/*
Figures_batch25/*
grid_scripts_slurm/*
